<div class="row qc-wrap">
  <div class="col-12">
    <nb-flip-card *ngIf="model" [flipped]="flipped">
      <nb-card-front>
        <nb-card>
          <form #f="ngForm" novalidate class="wrapper" [class.none]="flipped">
            <nb-card-header>
              <terminal-header [title]="bodyOp.name" [person]='user.person' (titleClick)="reload()" [logo]="'传奇陶瓷We-'"></terminal-header>
            </nb-card-header>
            <div>
              <div [ngSwitch]="tState" class="col-6 pull-left">
                <div *ngSwitchCase="'run'" class="form-set">
                  <div class="input-group input-group-lg pt08">
                    <label class="col-4" for="hs">工位: </label>
                    <label class="col-8" id="hs">{{model.oplog.hs.name}}</label>
                  </div>
                  <div class="input-group input-group-lg pt08">
                    <label class="col-4 mt10" for="loc">仓库:</label>
                    <div class="col-8">
                      <select class="form-control select" id="loc" name="loc" select="selected" [(ngModel)]="loc" required [compareWith]="idCmpFn" (change)="onLocChange($event)">
                        <option *ngFor="let item of locs" [ngValue]="item">{{item.name}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="input-group input-group-lg pt12 col-12 form-group">
                    <select class="col-4 code-select" id="inputType" name="inputType" select="selected" [(ngModel)]="inputType" (change)="onInputTypeChange($event)">
                      <option *ngFor="let item of inputTypes" [ngValue]="item">{{item}}</option>
                    </select>
                    <input #codeInput type="text" placeholder="扫码或手动录入" [disabled]="inputType==='扫码'" [(ngModel)]="strBody" class="form-control form-control-success code-input" virtualKeyboard="left center" (blur)="onBodyBlur($event)" [ngClass]="stateClass" [ngModelOptions]="{standalone: true}">
                    <nb-badge [text]="strQty"></nb-badge>
                  </div>
                  <div class="col-12">
                    <input type="text" placeholder="新条码录入" [(ngModel)]="newBarcode" class="form-control newBarcode" [ngClass]="stateClass" id="newBarcode" name="newBarcode" [ngModelOptions]="{standalone: true}" *ngIf="inputType==='换码'">
                  </div>
                  <div class="text-center work-tips" *ngIf="tips">{{tips}}</div>
                  <div class="input-group input-group-lg pt08">
                    <label class="col-4 mt10" for="equipment">型号:</label>
                    <div class="col-8">
                      <mes-tree-select [items]="mtree" name="mdef" [ngModel]="model.msublot.mdef" (ngModelChange)="onMdefChange($event)" [nodeOnly]="true" [compareWith]="idCmpFn" >
                      </mes-tree-select>
                    </div>
                  </div>
                  <div class="input-group input-group-lg pt08">
                    <label class="col-4 mt10" for="equipment">窑炉:</label>
                    <div class="col-8">
                      <select class="form-control select" id="equipment" name="equipment" select="selected" [compareWith]="idCmpFn" [ngModel]="model.msublot.kiln" (ngModelChange)="onKilnModelChange($event)">
                        <option value="">--请选择窑炉--</option>
                        <option *ngFor="let item of kilns" [ngValue]="item">{{item.name}}</option>
                      </select>
                    </div>
                  </div>
                  
                  <div class="input-group input-group-lg select-label pt08">
                    <label class="col-4 mt10" for="kilnTime">窑烧时间:</label>
                    <div class="col-8">
                      <input type="date" class="form-control time" placeholder="窑烧时间" id="kilnTime" name="kilnTime" [ngModel]="model.msublot.kilnTime | date:'yyyy-MM-dd'" (ngModelChange)="model.msublot.kilnTime = $event">
                    </div>
                  </div>
                </div>
                <!-- 跳去报废 -->
                <div *ngSwitchCase="'sc'" class="form-set">
                  <mes-terminal-repair [model]="model" [op]="bodyOp.text" [(tState)]="tState" [player]="player" [oid]="model.msublot?.oid" (tStateChange)="onRepairBack($event)"></mes-terminal-repair>
                </div>
                <!-- 跳去错误操作，不应该出现在当前的终端的条码 -->
                <div *ngSwitchCase="'err'" class="form-set">
                  <mes-terminal-err [model]="model" [(tState)]="tState" [player]="player" [oid]="model.msublot?.oid" (tStateChange)="onErrBack($event)"></mes-terminal-err>
                </div>
                <!-- 跳去警告操作，信息不完全导致的 -->
                <div *ngSwitchCase="'warning'" class="form-set">
                  <mes-terminal-warning [model]="model" [op]="bodyOp.text" [(tState)]="tState" (tStateChange)="onWarningBack($event)" [player]="player" [kilns]="kilns" [lastMdef]="lastMdef" [mtree]="mtree" [oid]="model.msublot?.oid"></mes-terminal-warning>
                </div>
              </div>
              <div class="col-6 pull-left">
                <div class="defects-type font-12">缺陷类别：</div>
                <ngb-tabset justify="justified" class="form-set pt2">
                  <ngb-tab *ngFor="let tab of tabs" [title]="tab.title" [id]="tab.id">
                    <ng-template ngbTabContent>
                      <div class="content btn-group-toggle">
                        <label ngbButtonLabel class="col-my btn bgc-red" *ngFor="let item of tab.reasons" [class.active]="item.active">
                          <input ngbButton type="checkbox" [name]="item.oid" [id]="item.oid" [(ngModel)]="item.active">{{item.oid}}
                        </label>
                      </div>
                    </ng-template>
                  </ngb-tab>
                </ngb-tabset>
                <div class="form-group defects-info">
                  <label for="defects" class="col-12 col-form-label">
                    <p class="mb02 font-12">已选缺陷项:{{defects | oidPipe }}</p>
                  </label>
                </div>
                <div class="form-group">
                  <div class="col-12 text-center pt1 d-flex justify-content-between">
                    <div class="repair-box">
                      <select class="repair-type" id="repairType" name="repairType" select="selected" [(ngModel)]="repairType" (change)="onRepairTypeChange($event)">
                        <option value="">-请选择-</option>
                        <option *ngFor="let item of repairTypes" [ngValue]="item">{{item}}</option>
                      </select>
                      <button type="button" [disabled]="defects.length <= 0" class="btn bgc-blue to-repair" (click)="onQCReject($event)">待修复</button>
                    </div>
                    <button type="button" [disabled]="defects.length <= 0" class="btn bgc-yellow " (click)="onQCPass($event)">等外</button>
                    <button type="button" [disabled]="defects.length <= 0" class="btn bgc-red " (click)="onQCScrap($event)">报废</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <i class="nb-arrow-dropright i-arrowright" (click)="flipClick($event)"></i>
        </nb-card>
      </nb-card-front>
      <nb-card-back>
        <nb-card>
          <div class="back-wrapper row" [class.none]="!flipped">
            <div class="col-6">
              <div class="mt08">
                <label for="" class="col-12 text-center">今日质检总数：{{mQty?.quantity}} 件</label>
                <div class="col-12">
                  <ngb-progressbar type="success" [showValue]="true" [value]="100 | ngxRound" height="3rem" [striped]="true" [animated]="true"><!-- <b class="all-speed">{{mQty?.quantity}} / {{mQty?.quantity}} </b> --></ngb-progressbar>
                </div>
              </div>
              <div class="childitem-wrap">
                <div *ngFor="let pv of mActCount" class="mt08">
                  
                  <div class="col-12 clearfix">
                    <label for="" class="col-3 pull-left">{{pv[0]}}:</label>
                    <div class="col-7 pull-left">
                        <ngb-progressbar [showValue]="true" [value]="100 * pv[1] / (mQty?.quantity === 0 ? 1: mQty?.quantity) | ngxRound" height="2rem"><b class="load-speed">{{pv[1]}} / {{mQty?.quantity}}</b></ngb-progressbar>
                    </div>
                    <div class="col-2 pull-left">
                     
                    </div>                   
                  </div>
                </div>
              </div>
            </div>
            <div class="col-6">
              <div class="mt08">
                <label for="" class="col-12 text-center">今日缺陷总数： {{qcQty?.quantity}}件</label>
                <div class="col-12">
                  <ngb-progressbar type="success" [showValue]="true" [value]="100 | ngxRound" height="3rem" [striped]="true" [animated]="true"></ngb-progressbar>
                </div>
              </div>
              <div class="childitem-wrap">
                <div *ngFor="let pv of qcActCount" class="mt08 clearfix">
                  <label for="" class="col-3 pull-left">{{pv[0]}}:</label>
                  <div class="col-7 pull-left">
                    <ngb-progressbar [showValue]="true" [value]="100 * pv[1] / (qcQty?.quantity === 0 ? 1: qcQty?.quantity) | ngxRound" height="2rem"><b class="load-speed">{{pv[1]}} / {{qcQty?.quantity}}</b></ngb-progressbar>
                  </div>
                  <div class="col-2 pull-left">
                    
                  </div>
                </div>
              </div>
            </div>
          </div>
          <i class="nb-arrow-dropleft i-arrowleft" (click)="flipClick($event)"></i>
        </nb-card>
      </nb-card-back>
    </nb-flip-card>

    <span class="copyright">{{logo}}</span>
  </div>
</div>
