.modal-header{
    font-size: 2rem;
}
.modal-body{
    font-size: 1.8rem;
}
.modal-footer{
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}
.custom-control-indicator{
    width: 2rem !important;
    height: 2rem !important;
}
.custom-control-description{
    padding-left: 1.25rem !important;
}
.custom-radio{
    cursor: pointer;
}
.btn.btn-md{
    font-size: 2rem
}