:host .ghost-dropdown{
    margin:-.8rem -.6rem -1rem -1rem;
}
:host .m-adjust{
    margin:-.8rem 0 -1rem -1rem;
}
.middle{
    margin:0 auto;
}
.green{
    color: #3dcc6d;
    cursor: pointer;
}
:host /deep/ ngb-popover-window{
    max-width: 100%;
    width: 80%;
}

ngb-progressbar{
    cursor: pointer !important;
}
.progress-num{
    position: absolute;
    top: 0;
    right: 0;
    font-weight: 600;
    color: #28a745;
}
.progress-total{
    position: absolute;
    top: -21px;
    right: 16px;
    font-weight: 600;
    color: #28a745;
}