
.bgc-blue{
    background-color: #0088ff;
}  
.wrapper{
    font-size: 1.8rem;
}
.mt08{
    margin-top: .8rem;
}
.mt2{
    margin-top: 2rem;
}
.select{
    border-radius:5px; 
    padding: 5px 20px 10px 20px;
    background: #fff;
}
.message{
    border: 1px solid #dadfe6;
    border-radius:5px; 
    padding: 10px;
    font-size: 1.8rem;
}

.font{
    font-size:1.6rem; 
}
.label{
    padding-top: 5px;
}
table{
    font-size: 1.4rem;
}