<nb-card>
  <nb-card-header>
    <span>设备负荷率</span>
  </nb-card-header>
  <nb-card-body>
    <div class="chart-container">
        <mes-chart-panel-summary [summary]="fzlPanelSummary"></mes-chart-panel-summary>
        <!-- <mes-chart-panel-header></mes-chart-panel-header> -->
        <mes-line-chart #ordersChart [ordersChartData]="ordersChartData"></mes-line-chart>
      </div>
  </nb-card-body>
</nb-card>

<!-- <nb-card>
  <nb-tabset fullWidth (changeTab)="changeTab($event)">
    <nb-tab tabTitle="月 工艺设备OEE">
      <div class="chart-container">
        <mes-chart-panel-summary [summary]="oeePanelSummary"></mes-chart-panel-summary>
        <mes-chart-panel-header></mes-chart-panel-header> -->
        <!-- <mes-chart-panel-header [type]="period"
                                (periodChange)="setPeriodAndGetChartData($event)">
        </mes-chart-panel-header> -->
<!--         <mes-line-chart #ordersChart [ordersChartData]="ordersChartData"></mes-line-chart>
      </div>
    </nb-tab>
    <nb-tab tabTitle="月 有效负载率" [lazyLoad]="true">
      <div class="chart-container">
        <mes-chart-panel-summary [summary]="fzlPanelSummary"></mes-chart-panel-summary>
        <mes-chart-panel-header></mes-chart-panel-header> -->
        <!-- <mes-chart-panel-header [type]="period"
                                (periodChange)="setPeriodAndGetChartData($event)">
        </mes-chart-panel-header> -->
<!--         <mes-col-chart #profitChart [profitChartData]="profitChartData"></mes-col-chart>
      </div>
    </nb-tab>
  </nb-tabset>
</nb-card> -->
