<div class="row" *ngIf="esub">
  <h1 class="text-center middle col-12">{{esub.equipment.name}}的一天[{{esub.equipment.oid}}]</h1>
  <div class="col-md-4">
    <nb-card size="xsmall">
      <nb-card-header>
        <span>工作名片</span>
      </nb-card-header>
      <nb-card-body>
        <p>工作号：{{esub.oid}}</p>
        <p>工位：{{esub.hs.name}}</p>
        <p>设备类型：{{esub.eclass[0].oid}}</p>
        <p>描述：{{esub.desc}}</p>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-4">
    <mes-esub-show-total title="作业产量" [value]="esub.qty" [total]=total></mes-esub-show-total>
  </div>
  <div class="col-md-4">
    <mes-esub-show-total title="作业报废率" [value]="esub.ngqty" [total]=total></mes-esub-show-total>
  </div>
  <div class="col-md-7">
    <nb-card>
      <nb-card-header class="d-flex justify-content-between">
        <span>产量详情</span>
        <div class="dropdown ghost-dropdown m-adjust" ngbDropdown>
          <button type="button" ngbDropdownToggle class="btn btn-outline-success">
            {{ qtyType }}
          </button>
          <ul class="dropdown-menu" ngbDropdownMenu>
            <li class="dropdown-item" *ngFor="let t of qtyTypes" (click)="qtyType=t">{{ t }}</li>
          </ul>
        </div>
      </nb-card-header>
      <nb-card-body>
        <mes-esub-show-qty [esub]="esub" [type]="qtyType"></mes-esub-show-qty>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-5">
    <nb-card>
      <nb-card-header>
        <span>报废Pareto图</span>
      </nb-card-header>
      <nb-card-body>
        <mes-esub-show-qci [oplog]="esub.oplog"></mes-esub-show-qci>
      </nb-card-body>
    </nb-card>
  </div>
  <div class="col-md-12">
    <nb-card>
      <nb-card-header>
        <span>工作进程</span>
      </nb-card-header>
      <nb-card-body>
        <mes-esub-show-oplog [oplog]="esub.oplog"></mes-esub-show-oplog>
      </nb-card-body>
    </nb-card>
  </div>
</div>
