@import '../../@theme/styles/themes';
@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/styles/global/breakpoints';

@include nb-install-component() {
  .solar-card nb-card-header {
    border: none;
    padding-bottom: 0;
  }

  @include media-breakpoint-down(sm) {
    ngx-traffic {
      display: none;
    }
  }

  @include media-breakpoint-down(is) {
    /deep/ nb-card.large-card {
      height: nb-theme(card-height-medium);
    }
  }
}

.mt2{
    margin-top: 2rem
}
.mr1{
    margin-right: 1rem;
}
.desc{
    font-size: 1.2rem;
    margin-bottom: 2rem;
    font-weight: 600;
}
.detail{
    color: #0088ff;
    border-bottom: 2px solid;
    padding: 3px 2px;
    cursor: pointer;
}
