@import '../../../../../../@theme/styles/themes';

@include nb-install-component() {
  display: block;
  height: 100%;
  width: 100%;

  .echart{
      background: nb-theme(black-bg) !important; 
  }
}
