<div class="row">
  <div class="col-xxl-5">
    <div class="row">
      <div class="col-md-6">
        <mes-i-qc-card></mes-i-qc-card>
      </div>
      <div class="col-md-6">
        <mes-i-yield-card></mes-i-yield-card>
      </div>
    </div>

    <mes-i-th-card></mes-i-th-card>
  </div>

  <div class="col-xxl-7">
    <mes-i-charts-panel></mes-i-charts-panel>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <mes-i-loc-products></mes-i-loc-products>
  </div>

  <div class="col-xxl-3">
    <mes-i-progress-section></mes-i-progress-section>
  </div>
</div>

<div class="row">
  <div class="col-xxl-9">
    <mes-i-loss-analytics></mes-i-loss-analytics>
  </div>

  <div class="col-xxl-3">
    <mes-i-prod-activity></mes-i-prod-activity>
  </div>
</div>

