<div class="row ">
    <div class="col-12">
      <div class="content">
        <div class="row col-12">
          <div class="col-6">
            <label for="">产线名: </label><span>喷釉打磨线</span>
          </div>
          <div class="col-6">
            <label for="">线号: </label><span>1#</span>
          </div>
          <div class="col-6">
            <label for="">班组号: </label><span>2班</span>
          </div>
          <div class="col-6">
            <label for="">班长名: </label><span>陈国辉</span>
          </div>
          <div class="col-6">
            <label for="">工单号: </label><span>PY001</span>
          </div>
          <div class="col-6">
            <label for="">计划产量: </label><span>4000</span>
          </div>
          <div class="col-6">
            <label for="">产品型号： </label><span>1601BL</span>
          </div>
          <div class="col-6">
            <label for="">合格基准： </label><span>87%</span>
          </div>
          <div class="col-6">
            <label for="">报废基准： </label><span>5%</span>
          </div>
        </div>
      </div>
    </div>
  </div>
