<nb-card>
  <form class="form-inline">
    <div class="form-group row col-md-4 mt2">
      <label for="hs" class="col-md-3 col-form-label text-center">层级结构</label>
      <div class="col-md-9">
        <mes-tree-select [items]="hstree" name="hs" required [(ngModel)]="hs" (ngModelChange)="onHsChange($event)" [compareWith]="idCmpFn">
        </mes-tree-select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group row mt2">
        <label for="startTime" class="col-sm-2 col-form-label">起止</label>
        <div class="col-sm-10 input-group">
          <input type="datetime-local" class="form-control" id="startTime" [ngModel]="startTime | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="onStartTimeChange($event)" name="startTime">
          <input type="datetime-local" class="form-control" id="endTime" [ngModel]="endTime | date:'yyyy-MM-ddTHH:mm'" (ngModelChange)="onEndTimeChange($event)" name="endTime">
        </div>
      </div>
    </div>
    <div class="col-sm-4">
      <div class="form-group row">
        <label for="equipment" class="col-sm-3 col-form-label ">设备:</label>
        <div class="col-sm-9">
          <mes-tree-select [items]="etree" id="equipment" [(ngModel)]="equipment" [ngModelOptions]="{standalone: true}" [compareWith]="idCmpFn" (ngModelChange)="onEquipmentChange($event)">
          </mes-tree-select>
        </div>
      </div>
    </div>
  </form>
</nb-card>
<div class="row">
  <div class="col-md-4">
    <mes-equip-stats-total title="制成品率" [value]="GQ" [total]="PQ"></mes-equip-stats-total>
  </div>
  <div class="col-md-4">
    <mes-equip-stats-total title="废品率" [value]="SQ" [total]="PQ"></mes-equip-stats-total>
  </div>
</div>
<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-header>
    <div class="title">已生产量趋势</div>
  </nb-card-header>
  <nb-card-body>
    <mes-equip-stats-qty [data]="qtyData"></mes-equip-stats-qty>
  </nb-card-body>
</nb-card>
<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-header>
    <div class="title">制成品率趋势</div>
  </nb-card-header>
  <nb-card-body>
    <mes-equip-stats-qty-ratio [data]="qrData"></mes-equip-stats-qty-ratio>
  </nb-card-body>
</nb-card>
<nb-card class="col-md-12 col-lg-12 col-xxxl-12">
  <nb-card-header>
    <div class="title">废品率趋势</div>
  </nb-card-header>
  <nb-card-body>
    <mes-equip-stats-qty-ratio [data]="srData"></mes-equip-stats-qty-ratio>
  </nb-card-body>
</nb-card>


