<nb-card>
  <nb-card-header>
    <span>
      生产数据统计分析
    </span>
  </nb-card-header>
  <nb-card-body>
    <form #f="ngForm" class="row" (ngSubmit)="onSubmit()">
<!--       <div class="col-sm-4 col-md-2">
        <div class="form-group row">
          <label for="oid" class="col-sm-3 col-form-label ">工序:</label>
          <div class="col-sm-9">
            <select name="input-ps" id="input-ps" class="form-control" placeholder="终端工序" (change)="onPsChange($event.target.value)">
              <option value="">--请选择工序--</option>
              <option *ngFor="let ps of pss">{{ps}}</option>
            </select>
          </div>
        </div>
      </div> -->
<!--       <div class="col-sm-4">
        <div class="form-group row">
          <label for="molder" class="col-sm-3 col-form-label ">员工:</label>
          <div class="col-sm-9">
            <mes-tree-select [items]="ptree" id="molder" name="molder" [(ngModel)]="searchModel.molder"  [compareWith]="idCmpFn">
            </mes-tree-select>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group row">
          <label for="mdef" class="col-form-label ">物料:</label>
          <div class="col-sm-9 ">
            <mes-tree-select [items]="mtree" id="mdef" name="mdef" [(ngModel)]="searchModel.mdef" [compareWith]="idCmpFn">
            </mes-tree-select>
          </div>
        </div>
      </div>
      <div class="col-sm-8 col-md-4">
        <div class="form-group row">
          <label for="startTime" class="col-sm-2 col-form-label">起止</label>
          <div class="col-sm-10 input-group">
            <input type="date" class="form-control" id="startTime" [ngModel]="queryPara.startTime | date:'yyyy-MM-dd'" (ngModelChange)="startTime=$event" name="startTime">
            <input type="date" class="form-control" id="endTime" [ngModel]="queryPara.endTime | date:'yyyy-MM-dd'" (ngModelChange)="queryPara.endTime = $event" name="endTime">
          </div>
        </div>
      </div>
      <div class="col-sm-4 col-md-1">
        <button type="submit" class="btn btn-primary "> 查询 </button>
      </div> -->
    </form>
  </nb-card-body>
</nb-card>
