<nb-tabset>
  <nb-tab tabTitle="{{name}}" badgeText="{{itemsCount}}">
    <nb-card size="xsmall">
      <nb-list>
        <nb-list-item *ngFor="let item of items">
          <div class="header">
            <div>
              <a routerLink="/pages/productions/{{_type}}" [queryParams]="{oid: item.oid, 'hs.name': name}" routerLinkActive="active"><h5>{{item.oid}}</h5></a>
            </div>
            <div class="detail font-w-light">
              {{item.count}}
            </div>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </nb-tab>
  <nb-tab tabTitle="子层级" badgeText="{{subItemsCount}}">
    <nb-card size="xsmall">
      <nb-list>
        <nb-list-item *ngFor="let item of subItems">
          <div class="header">
            <div>
              <a routerLink="/pages/productions/{{_type}}" [queryParams]="{oid: item.oid, 'hs.path': name}" ><h5>{{item.oid}}</h5></a>
            </div>
            <div class="detail font-w-light">
              {{item.count}}
            </div>
          </div>
        </nb-list-item>
      </nb-list>
    </nb-card>
  </nb-tab>
</nb-tabset>
