<nb-card>
  <nb-card-header>
    {{title}}
  </nb-card-header>
  <nb-card-body>
    <form #f="ngForm" (ngSubmit)="onSubmit(f.value)">
      <div class="form-group row">
        <label for="oid" class="col-sm-3 col-form-label">名称</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="oid" placeholder="名称（必填）" required fieldExists [service]="service" [(ngModel)]="model.oid" name="oid" #oid="ngModel">
          <div *ngIf="oid.invalid && (oid.dirty || oid.touched)" class="alert alert-danger">
            <div *ngIf="oid.errors.required">
              名称不能为空！
            </div>
            <div *ngIf="oid.errors.fieldExists">
              名称已存在，请重新输入！
            </div>
          </div>
        </div>
      </div>
      <div class="form-group row">
        <label for="desc" class="col-sm-3 col-form-label">描述</label>
        <div class="col-sm-9">
          <textarea rows="3" class="form-control" id="desc" placeholder="描述" [(ngModel)]="model.desc" name="desc"></textarea>
        </div>
      </div>
      <div class="form-group row">
        <label for="ps" class="col-sm-3 col-form-label">选择终端</label>
        <div class="col-sm-9">
          <select class="form-control" id="ps" [compareWith]="idCmpFn" [(ngModel)]="model.ps" name="ps" (change)="onSelectedChange($event)" required>
            <option *ngFor="let item of pss" [ngValue]="item">{{item.oid}}</option>
          </select>
        </div>
      </div>
      <div class="form-group row">
        <label for="category" class="col-sm-3 col-form-label">所属类别</label>
        <div class="col-sm-9">
          <mes-tree-multi-select [items]="categorys | mesTreeitem" name="category" [(ngModel)]="model.category" required></mes-tree-multi-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="size" class="col-sm-3 col-form-label">可选尺寸</label>
        <div class="col-sm-9">
          <mes-tree-multi-select [items]="sizes | mesTreeitem" name="size" [(ngModel)]="model.size" required></mes-tree-multi-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="resolution" class="col-sm-3 col-form-label">可选分辨率</label>
        <div class="col-sm-9">
          <mes-tree-multi-select [items]="resolutions | mesTreeitem" name="resolution"  [(ngModel)]="model.resolution" required></mes-tree-multi-select>
        </div>
      </div>
      <div class="form-group row">
        <label for="hs" class="col-sm-3 col-form-label">层级结构</label>
        <div class="col-sm-9">
          <mes-tree-select [items]="hstree" name="hs" [(ngModel)]="model.hs" [compareWith]="idCmpFn" required>
          </mes-tree-select>
        </div>
      </div>
      <div class="form-group row d-flex justify-content-around">
        <button type="button" class="btn btn-primary" (click)="cancel()"> 取消 </button>
        <button type="submit" class="btn btn-primary" [disabled]="!f.valid"> 确定 </button>
      </div>
    </form>
  </nb-card-body>
</nb-card>
