.btn-xxlg{
	font-size:2rem !important;
}
.bgc-red{
    background-color: #f4081f;
    color: #2a2a2a;
}
.bgc-yellow{
    background-color: #f6f710;
    color: #2a2a2a;
}
.bgc-green{
    background-color: #1cf20b;
}
.mb1{
    margin-bottom: 1rem;
}
.newBarcode{
    font-size: 2rem !important;
}