<nb-card>
  <nb-card-header>
    <!-- <div class="row">
      <span>设备数采数据统计分析</span>
    </div> -->
    <form #f="ngForm" class="row" (ngSubmit)="analyse()">
      <div class="col-sm-4">
        <div class="form-group row">
          <label for="equipName" class="col-sm-3 col-form-label ">设备名称:</label>
          <div class="col-sm-9">
            <select class="form-control" id="equipName" [(ngModel)]="equipName" name="equipName" required>
              <option>--请选择设备--</option>
              <option *ngFor="let item of equipNames">{{item}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-4 time-box">
        <div class="form-group row">
          <label for="oid" class="col-sm-3 col-form-label ">起始时间:</label>
          <div class="col-sm-9">
            <input type="date" class="form-control" id="startTime" [ngModel]="startTime | date:'yyyy-MM-dd'" (ngModelChange)="startTime = $event" name="startTime" required>
            <!-- <ng-datepicker [(ngModel)]="startTime" [options]= "options" name="startTime" required></ng-datepicker>  -->
          </div>
        </div>
      </div>
      <div class="col-sm-4 time-box">
        <div class="form-group row">
          <label for="oid" class="col-sm-3 col-form-label ">结束时间:</label>
          <div class="col-sm-9">
            <input type="date" class="form-control" id="endTime" [ngModel]="endTime | date:'yyyy-MM-dd'" (ngModelChange)="endTime = $event" name="endTime" required>
            <!-- <ng-datepicker [(ngModel)]="endTime" [options]= "options" name="endTime" required></ng-datepicker> --> 
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="form-group row">
          <label for="equipPara" class="col-sm-3 col-form-label ">设备参数:</label>
          <div class="col-sm-9">
            <select class="form-control" id="equipPara" [(ngModel)]="equipPara" name="equipPara" required>
              <option>--请选择设备参数--</option>
              <option *ngFor="let item of equipParas" [ngValue]="item">{{item.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="col-sm-4">
        <button type="submit" class="btn btn-primary "> 对比分析 </button>
      </div>
    </form>
  </nb-card-header>
  <nb-card-body>
    <div echarts [options]="option" theme="macarons" class="echart"></div>
  </nb-card-body>
</nb-card>
